<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
         <link rel='shortcut icon', href='//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png'>
		<title>PassPort Home</title>
      
	</head>
	<body>
        <h1> Auth0 - Node js</h1>
        <br>

         <a href ="/">
            <h1>Home</h1>
        </a>

	
   
     <a href="/login" id="qsLoginBtn">
            <h1> 
            Login 
            </h1>
        </a>
         

         <p> WE NEED TO INCLUDE A HANDLEBARS CASE WITH AN IF STATMENT TO GENERATE THE LOGIN/LOGIN BASED ON USER AUTH</p>
        {{{ body }}} 
	</body>
</html>
