  
  <div>
            these lines are coming from the index.handlebars files here we would add our homepage template
        </div>

<h4>You are not logged in! Please
    <a href="/login">Login Here</a>
    To Continue
    </h4>

    {{!-- {{#if res.locals.user}}
    <h1>TEst ing</h1>
    {{/if}} --}}


      